# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/
